{% assign page = include.page %}

<!-- TODO(yduman): Get rid of these assets, once sigma.js version is ready -->
<link rel="stylesheet" href="/assets/q-graph/css/styles.css">
<link rel="stylesheet" href="/assets/q-graph/css/legend.css">
<script type="text/javascript" src="/assets/js/d3.v7.min.js"></script>

<!-- sigma.js dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/3.0.0/sigma.min.js" integrity="sha512-k7BzLshQeZcrwwFWdBeBKv01EbHWcBHiZ6Zv6j2xruGxY890HaSjqfAaoqmBcXEDuaIvwxJrVnl1U74S1Kto4A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/graphology/0.25.4/graphology.umd.min.js" integrity="sha512-tjMBhL9fLMcqoccPOwpRiIQIOAyUh18lWUlUvE10zvG1UNMfxUC4qSERmUq+VF30iavIyqs/q6fSP2o475FAUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
